<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494383898132-2tjkkhin82cfj4i1c36uv7rbbi8srrls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494383898132-2tjkkhin82cfj4i1c36uv7rbbi8srrls</string>
	<key>API_KEY</key>
	<string>AIzaSyBa03jlN0Ho8yVto1IfayfXgl9JeYOTOXs</string>
	<key>GCM_SENDER_ID</key>
	<string>494383898132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.worldofword</string>
	<key>PROJECT_ID</key>
	<string>word-4bb3c</string>
	<key>STORAGE_BUCKET</key>
	<string>word-4bb3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494383898132:ios:a050ec88538e7e9a041101</string>
</dict>
</plist>